In [ ]:
import pandas as pd

In [ ]:
dset= pd.read_csv("Social_Network_Ads.csv")
print(dset)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
dset= dset.drop(columns="User ID")
print(dset)

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
dummy = {
    'Gender': {
        'sep': ';'
    }}

for column_name, dummy_data in dummy.items():

    dummies = dset[column_name].str.get_dummies(sep=dummy_data['sep'])
    dummies.columns = map(lambda col: f'{col}', dummies.columns)
    dset = pd.concat([dummies, dset], axis=1)

dset = dset.drop(columns = "Gender")

print(dset)

     Female  Male  Age  EstimatedSalary  Purchased
0         0     1   19            19000          0
1         0     1   35            20000          0
2         1     0   26            43000          0
3         1     0   27            57000          0
4         0     1   19            76000          0
..      ...   ...  ...              ...        ...
395       1     0   46            41000          1
396       0     1   51            23000          1
397       1     0   50            20000          1
398       0     1   36            33000          0
399       1     0   49            36000          1

[400 rows x 5 columns]

In [ ]:
from sklearn.linear_model import Perceptron

In [ ]:
xtrain= dset.iloc[0:320, 0:4]
ytrain= dset.iloc[:320, 4:]

xtest= dset.iloc[320:401, :4]
ytest= dset.iloc[320:401, 4:]

In [ ]:
clf = Perceptron(tol=1e-3, random_state=0)
clf.fit(xtrain, ytrain)
Perceptron()

In [ ]:
clf.score(xtrain, ytrain)

0.7125

In [ ]:
clf.score(xtest, ytest)

0.3625